{% if page_obj.has_next %}
<li class="page-item">
  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
</li>
{% else %}
<li class="page-item disabled">
  <span class="page-link">Next</span>
</li>
{% endif %} 
{% if page_obj.number != paginator.num_pages %}
<li class="page-item">
  <a class="page-link" href="?page={{ paginator.num_pages }}">Last</a>
</li>
{% else %}
<li class="page-item disabled">
  <span class="page-link">Last</span>
</li>
{% endif %}
</ul>
</nav>
<div class="fw-normal small mt-4 mt-lg-0">
  Showing <b>{{object_list.count}}</b> out of <b>{{paginator.count}}</b> entries
</div>
</div>
{% endif %}
